@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Condensed&family=Varela+Round&display=swap');
body{
    background: rgb(133, 57, 70);
}
*{
    margin: 0;
    padding: 0;
}
nav{
    font-family: 'Ubuntu',sans-serif,'Varela';
}
nav ul{
    display: flex;
    align-items: center;
    height: 46px;
    background-color: black;
    list-style: none;
    color: white;
}
.list {
    color: white;
    padding: 10px;
    padding-left: 52px;
}
.brand img{
    width: 38px;
    padding: 10px;
}
.brand{
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.5rem;
}
.container{
    min-height: 75vh;
    /* 75% of height */
    background-color: black;
    width: 70%;
    display: flex;
    margin: 15px auto;
    color: white;
    font-family: 'Varela','Ubuntu', sans-serif;
    border-radius: 12px;
    padding: 16px;
    background-image: url('bg.jpg');
    background-repeat:no-repeat;
    background-size: cover;
    /* height: 80px; */
}
.bottom{
    position: sticky;
    height: 100px;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.icons{
    margin: 20px;
}
.icons i{
    cursor: pointer;
    padding-left: 42px;
}

#progressBar{
    width: 80vw;
    margin-top: 20px;
    cursor: pointer;
}
.songsContainer{
    margin-top: 22px;
}
.songItems{
    background-color: white;
    color: black;
    height: 20px;
    width: 38vw;
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 8px;
    
    margin: 10px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    border-radius: 10px;
}
.songItems img{
    width: 32px;
    border-radius: 24px;
}
.songItems i{
    cursor: pointer;
}
.songInfo{
    position: absolute;
    left: 10vw;
}
.songInfo img{
    width: 60px;
    margin-top: 15px;
    opacity: 0;
    transition: opacity 0.4s ease-in;
}
.bot{
    display: flex;
    align-items: center;
    justify-content: center;
}
#currentTime{
    position: absolute;
    right: 10vw;
    
}